.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //padding: 6rem;
  //background: linear-gradient(180deg,#7c8874 ,#686f4f 32%, #2e392e 80%);
  min-height: 100vh;

 // background-color: #303C30;
 // background: linear-gradient(180deg, #6B7156, #303C30);
// background: linear-gradient(180deg, rgba(158,186,158,.58), #F8C71900);
}
.contentContainer {
 // background-color: rgba(255, 0, 0, 0.123);
  width: 100%;
  display: flex;
  height: 39rem;
  padding-top: 2.125rem;
}
.contentContainerHero {
 // padding-left: 6rem;
 padding-left: 6.625%;
 padding-top: 2.5%;
 // padding-top: 2.25rem;
  width: 60%;
//  background-color: rgba(166, 0, 255, 0.192);
  height: 100%;
  display: flex;
  flex-direction: column;


}
.heroTextContainer {

  width: 100%;
  height: fit-content;

  flex-shrink: 0;
  //background-color: red;
}
.heroText{
  color: #FAF3D6;
  font-family: "Helvetica Neue";
  font-size: 109.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%; /* 138.099px */

  letter-spacing: -3.125px;
}
.contentContainerAlt {
  width: 50%;
 // background-color: rgba(0, 255, 94, 0.192);
  height: 100%;
  padding-left: 1.25rem;
  padding-top: 0.125rem;
}
.heroSubtextContainer {
  max-width: fit-content;
 // background-color: red;
  height: 142px;
  padding-left: .625rem;
  padding-top: 1.125rem;
}
.heroSubtext {
  color: #FAF3D6;
  font-family: "Helvetica Neue";

  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px; /* 134.286% */
  letter-spacing: 1.3px;
  font-style: normal;
  font-display: swap;
  display: inline;
}
.heroButtonContainer {
  display:flex;
  width: 100%;

  gap:20px;
  padding-top: 1.375rem;
}
.heroButtonApply {
  width: 245px;
  height: 71.5px;
  flex-shrink: 0;
  border: 4px solid #ECCAB1;
  background: #E3A77C;
  align-items: center;
  display: flex;
  gap:1.325rem;

  font-family: Helvetica Neue;

  align-items: center;

  justify-content: center;
  border-radius: 121px;
  filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.25));
 // box-shadow: 0px 12px 4px 0px rgb(28, 28, 28, .25);
}
.heroButtonApplyText {
  font-family: Helvetica Neue;
  color:#151515;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: .125rem;
  letter-spacing: -.5px;
}
.heroButtonAlt {
  width: 245px;
  border: 2px solid #fff;
  height: 71.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica Neue;
  color:#fff;
  
  font-size: 22px;
  font-weight: 400;
  border-radius: 121px;
}
.contentVideoContainer {
  border:.5px solid #FAF3D6;
 // min-width: 34.675rem;
 // max-width: 34.675rem;
 // min-height: 31.5rem;
  width: 38.5vw;
  height: 35.125vw;
  display:flex;
  align-items: center;
  justify-content: center;
  color: #FAF3D6;
  padding-top: .75rem;
  padding-left: .75rem;
  font-family: "Helvetica Neue";
  font-size: 37.5px;
  font-style: normal;
  background-color: #6A7055;
  font-weight: 500;
  line-height: 120%; /* 60.99px */
  letter-spacing: -1.5px;
  text-transform: uppercase;

}
.landingSeperator {
  background-color: #252525;
  min-width: 100%;
  height: 13.35rem;
  display: flex;

}
.dotGrid {
  position:absolute;
  left:-.75%;
  top:14.75%;
  z-index: 0;
  mix-blend-mode: overlay;
}
.dotGridAlt {
  position: absolute;
  mix-blend-mode: overlay;
  right:.8%;
  bottom:14.75%;
 transform: rotate(270deg);
  z-index: -1;
}
.cornerVector { 
  position:absolute;
  left:4.7%;
  top:15.875%;
}
.seperatorWrapper {
  position:relative
}
.seperatorSubWrapper {
  position: relative;
  top:-1.124rem;
}
.seperator {
  position:absolute;
}
.subSeperator {
  position: absolute;
}
// black buttons

.contextButtonWrapper {
  position:relative;

}
.contextButtonContainer {
  width: fit-content;
  position:absolute;
 // padding-bottom: 4px;
  color: #FAF3D6;
  gap:.375rem;
  align-items: center;
  justify-content: space-evenly;
 // padding-top: 4px;

  font-family: Helvetica Neue;
  font-size: 12.5px;
  line-height: normal;
  text-transform: uppercase;
  flex-shrink: 0;
  background-color: #252525;
  display: flex;
  font-weight: 400;
  letter-spacing: .5px;
  outline: .75px solid #FAF3D6;

}
.contextRight {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left:.55rem;
  padding-right: .625rem;
  padding-top: .4rem;
  padding-bottom: .325rem;
}
.contextLeft {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left:.55rem;
  padding-right: .65rem;
  padding-top: .4rem;
  padding-bottom: .325rem;
}
.contextStar {
  transform: translateY(-.5px);
  align-self: flex-end;
  padding-bottom: 1.5px;
}

.subsectionContainer {
  display: flex;
  width: 100%;
  gap:1rem;

 // padding-left: 3rem;
}
.subsectionContainerLeft {
  width: 55%;
  padding-top: 2.125rem;
  padding-left: 6rem;
  display: flex;

  flex-direction: column;
  gap:1.125rem;
  

}
.seperatorWrapper {
  position: relative;
  &:nth-of-type(1) {
    top:-1rem;
  }
}

.seperatorBottom {
  right:-1.5rem;
  position: absolute;
}


.subsectionContainerRight {
  width: 45%;
 // padding-top: 2.25rem;
//  padding-right: 1rem;
 // padding-top: 4.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2.25rem;
  padding-bottom: 1rem;

}
.subsectionSeperator {
  height:2px;
  align-self: center;
  margin-bottom: .925rem;

  width: 12%;
  transform: translateX(.5rem);
  
  position: relative;
  background-color: #FAF3D6;
//  transform: translateX(100%);
}
.subsectionText {
  color: #FAF3D6;
  display: inline;

  text-align: center;
  font-family: Helvetica Neue;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%; /* 71.509px */
  letter-spacing: -.875px;

}
.subsectionSubtext {
  color: #FAF3D6;
  font-family: Helvetica Neue;
  white-space: nowrap;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 121%; /* 42.273px */
  letter-spacing: -.325px;
  display: inline;


  
}
.placeholderText {
  color: #FAF3D6;
  font-family: "Helvetica Neue";
  font-size: 37.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; 
  letter-spacing: -1.5px;
  text-transform: uppercase;

}
.carouselSection {
  background-color: #252525;

  width: 100%;
  //height: 61.5vh;
  display: flex;
  flex-direction: column;
  height: 78.5vh;
}
.carouselContainer {
  height: 61.5vh;
  background-color: #454545;
  width: 100%;
  display: flex;
}
.applyContainer {
  height: 105vh;
  width: 100%;
  background-color: #303C30;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.propositionTopContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6A7055;
}
.propositionMidContainer {
  height: 140vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303C30;
}
.propositionBottomContainer {
  height: 120vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #686f4f;
}
.testimonialContainer {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303C30;
}
.pricingContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
