@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
.main {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  //height: 100%;
  min-height: calc(100vh - 5.625rem);
  align-items: center;
  //padding: 6rem;
  overflow-x: hidden;
  //background: linear-gradient(180deg,#7c8874 ,#686f4f 32%, #2e392e 80%);
  //min-height: 100vh;

 // background-color: #303C30;
 // background: linear-gradient(180deg, #6B7156, #303C30);
 // background: linear-gradient(180deg, rgba(158,186,158,.58), #F8C71900);
}
.contentContainer {
 // background-color: rgba(255, 0, 0, 0.123);
 // width: 1440px;
  display: flex;
  justify-content: center;

//  max-width: 100%;
 // background-image: linear-gradient(180deg,#7c8874 ,rgb(104, 110, 80) 45%, #2e392e 113%);
//  height: 39rem;
  //height: 91.675%;
  //max-height: 91.675vh;
 // min-height: 91.675vh;
 // height: 39.01rem;
 // min-height: 80.125vh;
  min-height: 39rem;
  max-height:  80.125vh;
  //min-height:  80.125vh;
  padding-top: 2.125rem;
 // padding-top: 7.75rem;
}
.contentContainerHero {
 // padding-left: 6rem;
 padding-left: 6.625vw;
 //padding-left: 5.9625rem;
 //background-color: red;
 padding-top: 1.325%;
 // padding-top: 2.25rem;
  width: 60%;
 // background-color: rgba(166, 0, 255, 0.192);
  height: 100%;
  display: flex;
  flex-direction: column;


}
.heroTextContainer {

  width: 100%;
  height: fit-content;

  flex-shrink: 0;
  //background-color: red;
}
.heroText{
  color: #FAF3D6;
  font-family: "Helvetica Neue";
  //font-size: 109.5px;
  font-size: 6.84375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100px; /* 138.099px */


  letter-spacing: -3.125px;
}
.contentContainerAlt {
  width: 50%;
 // background-color: rgba(0, 255, 94, 0.192);
  height: 100%;
  padding-left: 1.25rem;
  padding-top: 0.2rem;
}
.heroSubtextContainer {
  max-width: fit-content;
 // background-color: red;
  height: 142px;
  padding-left: .625rem;
  padding-top: 2.75rem;
}
.heroSubtext {
  color: #FAF3D6;
  font-family: "Helvetica Neue";
  font-size: 1.625rem;
  //font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px; /* 134.286% */
  letter-spacing: 1.3px;
  font-style: normal;
  font-display: swap;
  display: inline;
}
.heroButtonContainer {
  display:flex;
  width: 100%;

  gap:20px;
  padding-top: 3rem;
}

.heroButtonApply {
  width: 245px;
  height: 71.5px;
  flex-shrink: 0;
  border: 4px solid #ECCAB1;
  background: #E3A77C;
  align-items: center;
  display: flex;
  gap:1.325rem;

  font-family: Helvetica Neue;

  align-items: center;

  justify-content: center;
  border-radius: 121px;
  filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.25));
  transition: all .2s linear;
 // box-shadow: 0px 12px 4px 0px rgb(28, 28, 28, .25);
}
.heroButtonApply:hover {
  transform: scale(1.05);
}
.heroButtonApplyText {
  font-family: Helvetica Neue;
  color:#151515;
 // font-size: 22px;
  font-size: 1.375rem;
  font-weight: 500;
  padding-bottom: .125rem;
  letter-spacing: -.5px;
}
.heroButtonAlt {
  width: 245px;
  border: 2px solid #fff;
  height: 71.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica Neue;
  color:#fff;
  transition: all .2s linear;
 // font-size: 22px;
 font-size: 1.375rem;
  font-weight: 400;
  border-radius: 121px;
}
.heroButtonAlt:hover {
  background-color: #FAF3D6;
  color:#0a0a0a;
  font-weight: 500;

}
.contentVideoContainer {
  outline:.5px solid #FAF3D6;
 // min-width: 34.675rem;
 // max-width: 34.675rem;
 // min-height: 31.5rem;
  max-width: 38.5vw;
  min-width: 34.65rem;
 // max-width: 34.65rem;
  z-index: 1;
  height: 31.5rem;
  max-height: 35vw;

  //height: 35vw;
  display:flex;
  align-items: center;
  justify-content: center;

  color: #FAF3D6;
  padding-top: .75rem;
  padding-left: .75rem;
  font-family: "Helvetica Neue";
  //font-size: 37.5px;
  font-size: 2.34375rem;
  font-style: normal;
  background-color: #6A7055;
  font-weight: 500;
  line-height: 120%; /* 60.99px */
  letter-spacing: -1.5px;
  text-transform: uppercase;

}
.landingSeperator {
  background-color: #252525;
  min-width: 100%;
  min-height: 13.35rem;
  display: flex;

}
.dotGrid {
  position:absolute;
  left:-.75%;
  top:14.75%;
  z-index: 0;
  mix-blend-mode: overlay;
}
.dotGridAlt {
  position: absolute;
  mix-blend-mode: overlay;
  right:.8%;
  bottom:14.75%;
  z-index: -1;
  transform: rotate(270deg);

}
.cornerVector { 
  position:absolute;
  left:4.7%;
  top:-16%;
}
.cornerVectorAlt {
  position:absolute;
  right:3.75%;
  bottom:14.5%;
  transform: rotate(180deg);
}

.seperatorSubWrapper {
  position: relative;
  top:-1.124rem;
  z-index: 1;
}
.seperator {
  position:absolute;

}
.subSeperator {
  position: absolute;
}
// black buttons

.contextButtonWrapper {
  position:relative;
  z-index: 1;

}
.contextButtonContainer {
  width: fit-content;
  position:absolute;
 // padding-bottom: 4px;
  color: #FAF3D6;
  gap:.375rem;
  align-items: center;
  justify-content: space-evenly;
 // padding-top: 4px;

  font-family: Helvetica Neue;
 // font-size: 12.5px;
  font-size: 0.78125rem;
  line-height: normal;
  text-transform: uppercase;
  flex-shrink: 0;
  background-color: #252525;
  display: flex;
  font-weight: 400;
  letter-spacing: .5px;
  outline: .75px solid #FAF3D6;
  transition: all .2s linear;
}
.contextButtonContainer:hover {
  //filter: invert(1);
  background-color: #FAF3D6;
  color:#0a0a0a;
  font-weight: 500;
}
.contextButtonContainer:hover .contextStar {
  filter: invert(1);
}
.contextButtonContainer:hover .contextPriceStar {
  filter: invert(1);
}
.contextRight {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left:.55rem;
  padding-right: .625rem;
  padding-top: .4rem;
  padding-bottom: .325rem;
}
.contextLeft {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left:.55rem;
  padding-right: .65rem;
  padding-top: .4rem;
  padding-bottom: .325rem;
}
.contextPrice {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding-left:1.75rem;
  padding-right: 1.325rem;
  padding-top: .5rem;
  padding-bottom: .425rem;
  align-self: center;
  white-space: nowrap;

  
}
.contextPriceWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;  
  justify-content: center;
}
.contextStar {
  transform: translateY(-.5px);
  align-self: flex-end;
  padding-bottom: 1.5px;
}
.contextPriceStar {
  transform: translateX(-.5rem) translateY(-.15rem);
  align-self: flex-end;
  transition: all .2s linear;
}


.subsectionContainer {
  display: flex;
  width: 100%;
  gap:1rem;


 // padding-left: 3rem;
}
.subsectionContainerLeft {
  max-width: 55%;
  width: 50%;
  min-width: fit-content;
  padding-top: 2.2rem;
  padding-left: 6.625vw;
 // padding-left: 6rem;
  display: flex;
 // background-color: red;
  padding-right: 2vw;
  flex-direction: column;
  gap:1.075rem;
  

}
.seperatorWrapper {
  position: relative;
  z-index: 1;
  &:nth-of-type(1) {
    top:-1rem;
  }
}

.seperatorBottom {
  right:-1.5rem;
  position: absolute;
}


.subsectionContainerRight {
  width: 50%;
  //min-width: fit-content;
 // padding-top: 2.25rem;
//  padding-right: 1rem;
 // padding-top: 4.5rem;
 //background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
//  padding-left: 2.25rem;
  padding-right: 3.5rem;
  //background-color: red;
  margin-left: auto;
  padding-bottom: .875rem;

}
.subsectionSeperator {
  height:2.5px;
  align-self: center;
  margin-left: auto;
//  max-width: 15%;
//margin-right: auto;
  width: 9.45rem;
  min-width: 10.5vw;
  

  transform: translateX(-1.55rem) translateY(-.45rem);
 // transform: translateX(-1.38vw) translateY(-.45rem);
 //transform: translateY(-.45rem) translateX(-2.01vw);
  position: relative;
  background-color: #FAF3D6;
 // transform: translateX(-40%);
}
.subsectionText {
  color: #FAF3D6;
  display: inline;

  text-align: center;
  font-family: Helvetica Neue;
  //font-size: 44px;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 123%; /* 71.509px */
  letter-spacing: -.875px;

}
.subsectionSubtext {
  color: #FAF3D6;
  font-family: Helvetica Neue;
  white-space: nowrap;
 // font-size: 26px;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 121%; /* 42.273px */
  letter-spacing: -.3px;
  display: inline;
}
.subsectionSubtextAlt {
  color: #FAF3D6;
  font-family: Helvetica Neue;
  white-space: nowrap;
  //font-size: 26px;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 122%; /* 42.273px */
  letter-spacing: -.3px;
  display: inline;
  transform: scaleY(.98);
}
.subtext {
  color: #FAF3D6;
  font-family: Helvetica Neue;
  white-space: nowrap;
  //font-size: 26.25px;
  font-size: 1.640625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 122%; /* 42.273px */
  letter-spacing: -.3px;
  display: inline;
}
.placeholderText {
  color: #FAF3D6;
  font-family: "Helvetica Neue";
//  font-size: 37.5px;
  font-size: 2.34375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; 
  letter-spacing: -1.5px;
  text-transform: uppercase;

}
.carouselSection {
  background-color: #252525;

  width: 100%;
  //height: 61.5vh;
  display: flex;
  flex-direction: column;
  height: 78.5vh;
}
.carouselContainer {
  height: 61.5vh;
  background-color: #454545;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carouselItemContainer {

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:nth-of-type(1) {
  //  border-right: 1px dashed #0b0b0b;
    width: 33%;
  }
  &:nth-of-type(2) {
    width: 34%;
   // border-right: 1px dashed #0b0b0b;
  }
  &:nth-of-type(3) {

    width: 33%;
  }
}

// "explore previous events
.applyContainer {
  height: 103.25vh;
  width: 100%;
  background-color: #303C30;
  display: flex;
  align-items: center;
  //justify-content: center;
 // flex-direction: column;
}
.applyWrapperLeft {
//  background-color: rgba(0, 255, 208, 0.161);
  width: 58%;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.applyHeroContainer {
  display: flex;
  flex-direction: column;
  padding-left: 3.875rem;
  width: 777.75px;
  padding-bottom: 2.125rem;

}
.applyHeroText {
  color: #FAF3D6;
  text-shadow: 0px 0.5px 12px rgba(250, 243, 214, 0.70);
  font-family: Helvetica Neue;
  //font-size: 56.25px;
  font-size: 3.515625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 68px; /* 67.04px */
  letter-spacing: -1.687px;
  display: inline;

}
.applyHeroContext {
  display: flex;
  padding-top: 24px;
  gap:18.75px;
  padding-left: 2px;
}
.applyHeroContextImage {
  background-color: #d0d0d0;
  width: 70.5px;
  height: 64.5px;
  flex-shrink: 0;
  border-radius: 21px;
}


.applyWrapperRight {
 //background-color: rgba(255, 0, 0, 0.161);
  width: 42.25%;
  padding-right: 3.25%;
  padding-bottom: 4.25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.applyTodayButton {
  width: 197px;
  height: 71.5px;
  flex-shrink: 0;
  border-radius: 90.75px;
  border: 7.5px solid #FAF0C6;
  background: #FAE691;
  color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Helvetica Neue;
  //font-size: 22.5px;
  font-size: 1.40625rem;
  padding-bottom: 1.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 122%; /* 27.445px */
  letter-spacing: -0.675px;
  text-transform: capitalize;
  filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.25));
  transition: all .15s linear;
}
.applyTodayButton:hover {
  transform: scale(1.05);
}
.explorePrevButton {
  width: 351px;
  height: 71.5px;
  flex-shrink: 0;
  border-radius: 90.75px;
  border: 2.25px solid #F9F9F9;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Helvetica Neue;
  //font-size: 22.5px;
  font-size: 1.40625rem;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 1.5px;
  line-height: 122%; /* 27.445px */
  letter-spacing: -0.5px;
  text-transform: capitalize;
  transition: all .15s linear;
}
.explorePrevButton:hover {
  background-color: #FAF3D6;
  color:#0a0a0a;
}
.propVector {
  background-image: url('../public/assets/propVector.svg');
  width: 116.52vw;
  height: 72.25vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
}
.applyVideoContainer {
  //width: 33.88vw;
  //height: 64.7vh;
  min-width: 30.492rem;
  min-height: 31.5rem;
  border: 0.75px solid #FAF3D6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #303C30;
  flex-shrink: 0;
  padding-top: 1rem;
  color: #FAF3D6;
  padding-left: 1.125rem;

  font-family: Helvetica Neue;
  //font-size: 37.5px;
  font-size: 2.34375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 122%; /* 45.742px */
  letter-spacing: -1.125px;
  text-transform: uppercase;
}
.propositionTopContainer {
  background-image: linear-gradient(180deg,#7c8874 ,rgb(104, 110, 80) 40%, #303c30);
 // background: linear-gradient(180deg, rgba(158, 186, 158, 0.29) 0%, rgba(248, 199, 25, 0.00) 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
 // align-items: center;
 // justify-content: center;
 z-index: 0;
  //background-color: #6A7055;
}
.propositionMidContainer {
  height: 138.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  //align-items: center;
 // background-color: rgba(255, 0, 0, 0.289);
  //justify-content: center;
  //background-color: rgba(87, 109, 87, 00);
}
.propositionBottomContainer {
  height: 124vh;
  //height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  //background-color: #303C30;
  //background-color: rgba(255, 0, 0, 0.18);
  background-image:linear-gradient(180deg, rgba(149, 185, 149, 0.3), rgba(248, 199, 25, 0.15) 40%, rgba(248, 199, 25, 0.15) 60%, rgba(149, 185, 149, 0.3));
}
.testimonialContainer {
  height: 90.125vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303C30;
  background-image: linear-gradient(180deg,#303C30 0%, rgba(89, 102, 89, 0.23) 42.5%,  #242B24 80%);  
}

.testimonialWrapper {
  display: flex;
  height: 60.75vh;
  align-items: center;
  margin-top: 12vh;
  align-self: flex-start;
 // justify-content: center;
  flex-direction: column;
  width: 100%;
  //padding-top: 11.64vh;
}
.testimonialHeaderContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap:.25rem;
  padding-left: 3vw;

}
.testimonialHeaderText {
  color: #FAF3D6;

  text-align: center;
  font-family: Helvetica Neue;
 // font-size: 48.75px;
  font-size: 3.046875rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 121.98%; /* 59.465px */
  letter-spacing: -1.462px;
}
.testimonialHeaderSubtext {
  color: #FAF3D6;
  text-align: center;
  font-family: Helvetica Neue;
  display: inline;
  //font-size: 26.25px;
  font-size: 1.640625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120.781%; /* 31.705px */
  letter-spacing: -0.787px;
}
.testimonialCardWrapper {
  height: 28.113vh;
  width: 150vw;
  display: flex;
  gap:2.3vw;
  padding-left: 2vw;
  margin-top: 8vh;
}
.testimonialCard {
  width: 48.5vw;
  height: 28.125vh;
  border-radius: 16.5px;
  gap: .875rem;
  border: 1.5px solid #FAF3D6;
  display: flex;
  //filter: drop-shadow(0px 3px 16px #FAF3D6);
  box-shadow: 0px 0px 16px -9px #FAF3D6;
}

.testimonialCardImage {
  width: 11.5vw;
  height: 22.7vh;
  margin-left: 1.25rem;
  border-radius: 12.75px;
  margin-bottom: .125rem;
  align-self: center;
  background-color: #FAF3D6;
 // position: absolute;
 // filter: drop-shadow(0px 0px 0px #FAF3D600);
}
.testimonialContextContainer {
  height: 21.25vh;
  width: 32.3vw;
  border-left: 5px solid #EC7878;
  
  align-self: center;
  //background-color: red;
  padding-top: 1.5rem;

  padding-left: 1rem;

}
.testimonialQuote {
  color: #FAF3D6;

  font-family: Helvetica Neue;
  font-size: 1.640625rem;
 // font-size: 26.25px;
  font-style: normal;
  font-weight: 400;
  line-height: 122%; /* 32.02px */
  letter-spacing: -0.5px;
}
.testimonialQuoteSubtext {
  color: #FAF3D6;

  font-family: Helvetica Neue;
  //font-size: 18.75px;
  font-size: 1.171875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 22.347px */
  letter-spacing: -0.562px;
}
.testimonialSliderContainer {
 // padding-top: 10.59vh;
  width: 11.45vw;
  display:flex;
  justify-content: center;
  margin-top: 10.5vh;
  gap:.725rem;
  height: 12.75px;
  padding-left: 3.875rem;
}
.testimonialSlide {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: #d9d9d9;
  &:nth-of-type(2) {
    background-color: #F87719;
  }
}

.pricingContainer {
  height: 175.51vh;
  width: 100%;
  //background: url('../public/assets/waves2.svg');
  display: flex;
  flex-direction: column;
  //align-items: flex-end;
  background-color: #1b1b1b;
  //justify-content: flex-end;
  background: linear-gradient(180deg, rgba(27, 27, 27, 0.91) 29.66%, rgba(0, 0, 0, 0.05) 132.71%);
 //background-color: #1b1b1b;
  //background-repeat: no-repeat;
  //background-position:  100%;
  //background-size: contain;
  //background-image: url('../public/assets/waves2.svg');
}
.membershipContainer {
 //height: 153.40vh;
  height: auto;
 width: 100%; 
 flex-direction: column;
 display: flex;
// background-color: red;
 background: linear-gradient(360deg, rgba(27, 27, 27, 0.91) 29.66%, rgba(0, 0, 0, 0.05) 132.71%);
}
.faqsContainer {
  height: auto;
  width: 100%;
  display: flex;
  //align-items: center;

  //justify-content: center;
 // background-color: #1b1b1b;
  background: linear-gradient(180deg, rgba(27, 27, 27, 0.91) 16%, rgba(0, 0, 0, 0.05) 100.71%);
//  background-color: red;
padding-bottom: 5rem;
}
.footerContainer {
  
  max-height: 55.45vh;
 // height: auto;
  width: 111.927vw;
  background-color: #252525;
  padding-bottom: 3.83625em;
  display: flex;
  padding-left: 9.32vw;
  margin-top: auto;
}
.footerContent {
  height: 39.66vh;
  width: 100%;
  margin-top: 7.89vh;
  //background-color: red;
  display: flex;
  margin-left: 6.375vw;
  //margin-left: 9.32vw;
}
.footerLeftContent {
  height: 26.28vh;
  margin-top: 4.25vh;
  display: flex;
  flex-direction: column;
  //margin-left: 9.32vw;

}
.footerButton {
  width: 32.43vw;
 // height: 9.24vh;
  height: auto;
  //max-height: 9.24vh;
  //flex-shrink: 0;
  padding-top: 1.25rem;
  padding-bottom:1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13.5px;
  border: 2.25px solid #FAF3D6;
  color: #FFF;
  text-align: center;
  font-family: "Helvetica Neue";
 // font-size: 22.5px;
  font-size: 1.40625rem;
  font-style: normal;
  font-weight: 700;
  transform: translateX(-.325rem);
  line-height: 121.98%; /* 27.445px */
  letter-spacing: -0.675px;
  text-transform: capitalize;
  background: #252525;
  margin-top: 2rem;
  transition: all .175s linear;
}
.footerButton:hover {
  box-shadow: 0px 6px 12px 0px #0a0a0ae3;
  background-color: #FAF3D6;
  color:#151515;
}
.footerTitle {
  color: #FAF3D6;
  display: inline;
  font-family: "Helvetica Neue";
  //font-size: 52.5px;
  font-size: 3.28125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 121.98%; /* 64.039px */
  letter-spacing: -1.575px;
}
.footerSubtext {
  color: #FAF3D6;

  font-family: "Helvetica";
  padding-top: .325rem;
 // font-size: 26.25px;
  font-size: 1.640625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 119.182%; /* 31.285px */
  letter-spacing: -0.787px;
}
.footerImageContainer {
  border-radius: 37.5px;
  width: 43.645vw;
  height: 100%;
  transform: translateX(6.45vw);
 // margin-left: auto;
  border: 1px solid #FAF3D6;
  background-color: #252525;
}
.pricingForeground {
 // width: 119.635vw;
 // max-width: 119.635vw;
  //height: 113.41vh;
 // z-index: 0;

  height: 123.46vh;
 // max-height: 123.46vh;
  width: 100%;
 // margin-top: auto;
  //max-height: 123.41vh;
  position: absolute;
 // background-color: red;
 
  background-size: contain;
  background-repeat: no-repeat;
  //background-position: top;
  //bottom:0;
  transform: translateY(46.5vh);
  align-items: flex-end;
  justify-content: center;
  align-self: flex-end;
  object-fit: contain;
  z-index: 1;

}
.foregroundWrapper {
  height: 123.46vh;
  width: 100%;
 // display: flex;
  position: absolute;
  transform: translateY(41.6vh);
  align-items: flex-end;
  justify-content: center;
  align-self: flex-end;
  
  //background-color: #1b1b1b;
  background-repeat: no-repeat;

  background-position: bottom;
  background-size: contain;

  z-index: 1;
  background-image: url('../public/assets/waves2.svg');
}


// memberships

.membershipHeaderContainer {
  width: 100%;
  display: flex;
  padding-left: 1.125rem;
  align-items: center;
  justify-content: center;
  color: #FAF3D6;
  font-family: "Helvetica Neue";
  //font-size: 48.25px;
  font-size: 3.015625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 122%; /* 59.465px */
  letter-spacing: -1px;
 // padding-top: 2.125rem;
  padding-top: 1.125em;
}
.membershipCardContainer {
  margin-top: 7.5vh;
  width: 84.948vw;
  height: 136vh;
  gap:17.52vh;
  display: flex;
  flex-direction: column;
  padding-left: .875rem;
  margin-left: auto;
  margin-right: auto;
}
.membershipCardRow {
  width: 84.948vw;
  height: 58.15vh;
  display: flex;
  gap:3.28vw;
}
.membershipCardWrapper {
  width: 27.60vw;
  height: 58.15vh;
}
.membershipCardImage {
  width: 25.46vw;
  height: 38.5vh;
  border-radius: 37.5px;
  background-color: #1b1b1b;
  border: 1px dashed #7c8874;
  display: flex;
  align-items: center;
  justify-content: center;
}
.membershipCardContext {
  padding-top: 1.625rem;
}
.membershipCardTitle {
  color: #FAF3D6;

  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 1.40625rem;
  //font-size: 22.5px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: normal;
}
.membershipCardSubtext {
  color: #FAF3D6;
  text-align: center;
 // white-space: nowrap;
  text-align: center;
  font-family: "Helvetica";
//  display: inline;
  font-size: 1.390625rem;
  //font-size: 22.25px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  padding-top: 1.325rem;
}

// faqs section

.faqsWrapper {
  //height: auto;
  margin-top: 9.756vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.faqsHeaderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(1.5rem);
}
.faqsHeaderText {
  color: #FAF3D6;
  font-family: "Helvetica Neue";
  //font-size: 48.75px;
  font-size: 3.046875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 121.98%; /* 59.465px */
  letter-spacing: -1.462px;
}
.faqsContentContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70.78125vw;
  gap:9vh;
  padding-top: 5rem;
}
.faqsContentItem {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 2px solid #FAF3D6;
}
.faqsContentItemWrapper {
  height: 12.5vh;
  padding-right: 1rem;
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
  transition: all .15s linear
  //border-bottom: 2px solid #FAF3D6;
}
.faqsContentItemWrapper:hover .faqsContentTitle{
 // color:#F87719;
  color:#faa86e;
}
.faqsContentTitle {
  color: #FAF3D6;
  font-family: Inter; // change to inter
 // font-size: 30px;
  font-size: 1.875rem;
  font-style: normal;
  transition: all .15s linear;
  font-weight: 500; // change to 600
  line-height: normal;
}
.faqsContentSubtext {
  color: #FAF3D6;
  font-family: Helvetica Neue;
 // font-size: 19.5px;
  font-size: 1.21875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

}
.faqsDropdownIcon {
  transition: all .15s linear;
}
.faqsDropdownContainer {

}
.iframeContainer {
  height: 100vh;
  background-color: #252525;
  display: flex;


  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iframeWrapper {
  min-height: 30.9375rem;
 box-shadow: 0px -1px 8px 0px #57647e36;
  min-width: 650px;
//  max-width: 650px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
 // background-color: red;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  display: flex;

  flex-direction: column;
  justify-content: center;
  

}

.loadingIframe {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  background-color: #252525;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
 // box-shadow: 0px 4px 4px 0px #57647e36;
}
.mansion {
  border:none;
  outline:none;
  height: 100vh;

}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
