.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //padding: 6rem;
  //background: linear-gradient(180deg,#7c8874 ,#686f4f 32%, #2e392e 80%);
  min-height: 100vh;

 // background-color: #303C30;
 // background: linear-gradient(180deg, #6B7156, #303C30);
// background: linear-gradient(180deg, rgba(158,186,158,.58), #F8C71900);
}
.contentContainer {
 // background-color: rgba(255, 0, 0, 0.123);
  width: 100%;
  display: flex;
//  height: 39rem;
  height: 80.125vh;
  padding-top: 2.125rem;
}
.contentContainerHero {
 // padding-left: 6rem;
 padding-left: 6.625%;
 padding-top: 1.325%;
 // padding-top: 2.25rem;
  width: 60%;
 // background-color: rgba(166, 0, 255, 0.192);
  height: 100%;
  display: flex;
  flex-direction: column;


}
.heroTextContainer {

  width: 100%;
  height: fit-content;

  flex-shrink: 0;
  //background-color: red;
}
.heroText{
  color: #FAF3D6;
  font-family: "Helvetica Neue";
  font-size: 109.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 100px; /* 138.099px */


  letter-spacing: -3.125px;
}
.contentContainerAlt {
  width: 50%;
 // background-color: rgba(0, 255, 94, 0.192);
  height: 100%;
  padding-left: 1.25rem;
  padding-top: 0.2rem;
}
.heroSubtextContainer {
  max-width: fit-content;
 // background-color: red;
  height: 142px;
  padding-left: .625rem;
  padding-top: 2.75rem;
}
.heroSubtext {
  color: #FAF3D6;
  font-family: "Helvetica Neue";

  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px; /* 134.286% */
  letter-spacing: 1.3px;
  font-style: normal;
  font-display: swap;
  display: inline;
}
.heroButtonContainer {
  display:flex;
  width: 100%;

  gap:20px;
  padding-top: 3rem;
}
.heroButtonApply {
  width: 245px;
  height: 71.5px;
  flex-shrink: 0;
  border: 4px solid #ECCAB1;
  background: #E3A77C;
  align-items: center;
  display: flex;
  gap:1.325rem;

  font-family: Helvetica Neue;

  align-items: center;

  justify-content: center;
  border-radius: 121px;
  filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.25));
 // box-shadow: 0px 12px 4px 0px rgb(28, 28, 28, .25);
}
.heroButtonApplyText {
  font-family: Helvetica Neue;
  color:#151515;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: .125rem;
  letter-spacing: -.5px;
}
.heroButtonAlt {
  width: 245px;
  border: 2px solid #fff;
  height: 71.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica Neue;
  color:#fff;
  
  font-size: 22px;
  font-weight: 400;
  border-radius: 121px;
}
.contentVideoContainer {
  outline:.5px solid #FAF3D6;
 // min-width: 34.675rem;
 // max-width: 34.675rem;
 // min-height: 31.5rem;
  width: 38.5vw;
  height: 35vw;
  display:flex;
  align-items: center;
  justify-content: center;
  color: #FAF3D6;
  padding-top: .75rem;
  padding-left: .75rem;
  font-family: "Helvetica Neue";
  font-size: 37.5px;
  font-style: normal;
  background-color: #6A7055;
  font-weight: 500;
  line-height: 120%; /* 60.99px */
  letter-spacing: -1.5px;
  text-transform: uppercase;

}
.landingSeperator {
  background-color: #252525;
  min-width: 100%;
  height: 13.35rem;
  display: flex;

}
.dotGrid {
  position:absolute;
  left:-.75%;
  top:14.75%;
  z-index: 0;
  mix-blend-mode: overlay;
}
.dotGridAlt {
  position: absolute;
  mix-blend-mode: overlay;
  right:.8%;
  bottom:14.75%;
 transform: rotate(270deg);
  z-index: -1;
}
.cornerVector { 
  position:absolute;
  left:4.7%;
  top:16%;
}
.cornerVectorAlt {
  position:absolute;
  right:3.75%;
  bottom:14.5%;
  transform: rotate(180deg);
}

.seperatorSubWrapper {
  position: relative;
  top:-1.124rem;
  z-index: 1;
}
.seperator {
  position:absolute;

}
.subSeperator {
  position: absolute;
}
// black buttons

.contextButtonWrapper {
  position:relative;

}
.contextButtonContainer {
  width: fit-content;
  position:absolute;
 // padding-bottom: 4px;
  color: #FAF3D6;
  gap:.375rem;
  align-items: center;
  justify-content: space-evenly;
 // padding-top: 4px;

  font-family: Helvetica Neue;
  font-size: 12.5px;
  line-height: normal;
  text-transform: uppercase;
  flex-shrink: 0;
  background-color: #252525;
  display: flex;
  font-weight: 400;
  letter-spacing: .5px;
  outline: .75px solid #FAF3D6;

}
.contextRight {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left:.55rem;
  padding-right: .625rem;
  padding-top: .4rem;
  padding-bottom: .325rem;
}
.contextLeft {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left:.55rem;
  padding-right: .65rem;
  padding-top: .4rem;
  padding-bottom: .325rem;
}
.contextStar {
  transform: translateY(-.5px);
  align-self: flex-end;
  padding-bottom: 1.5px;
}

.subsectionContainer {
  display: flex;
  width: 100%;
  gap:1rem;

 // padding-left: 3rem;
}
.subsectionContainerLeft {
  max-width: 55vw;
  min-width: 50vw;
  padding-top: 2.2rem;
  padding-left: 6.625vw;
 // padding-left: 6rem;
  display: flex;
 // background-color: red;

  flex-direction: column;
  gap:1.075rem;
  

}
.seperatorWrapper {
  position: relative;
  z-index: 1;
  &:nth-of-type(1) {
    top:-1rem;
  }
}

.seperatorBottom {
  right:-1.5rem;
  position: absolute;
}


.subsectionContainerRight {
  width: 50%;
 // padding-top: 2.25rem;
//  padding-right: 1rem;
 // padding-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
//  padding-left: 2.25rem;
  padding-right: 3.5rem;
  padding-bottom: .875rem;

}
.subsectionSeperator {
  height:2.5px;
  align-self: center;

  max-width: 15%;
  min-width: 10.5%;
  transform: translateX(-1.25rem) translateY(-.55rem);
  
  position: absolute;
  background-color: #FAF3D6;
//  transform: translateX(100%);
}
.subsectionText {
  color: #FAF3D6;
  display: inline;

  text-align: center;
  font-family: Helvetica Neue;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%; /* 71.509px */
  letter-spacing: -.875px;

}
.subsectionSubtext {
  color: #FAF3D6;
  font-family: Helvetica Neue;
  white-space: nowrap;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 121%; /* 42.273px */
  letter-spacing: -.3px;
  display: inline;
}
.subsectionSubtextAlt {
  color: #FAF3D6;
  font-family: Helvetica Neue;
  white-space: nowrap;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 122%; /* 42.273px */
  letter-spacing: -.3px;
  display: inline;
  transform: scaleY(.98);
}
.subtext {
  color: #FAF3D6;
  font-family: Helvetica Neue;
  white-space: nowrap;
  font-size: 26.25px;
  font-style: normal;
  font-weight: 300;
  line-height: 122%; /* 42.273px */
  letter-spacing: -.3px;
  display: inline;
}
.placeholderText {
  color: #FAF3D6;
  font-family: "Helvetica Neue";
  font-size: 37.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; 
  letter-spacing: -1.5px;
  text-transform: uppercase;

}
.carouselSection {
  background-color: #252525;

  width: 100%;
  //height: 61.5vh;
  display: flex;
  flex-direction: column;
  height: 78.5vh;
}
.carouselContainer {
  height: 61.5vh;
  background-color: #454545;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carouselItemContainer {

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:nth-of-type(1) {
  //  border-right: 1px dashed #0b0b0b;
    width: 33%;
  }
  &:nth-of-type(2) {
    width: 34%;
   // border-right: 1px dashed #0b0b0b;
  }
  &:nth-of-type(3) {

    width: 33%;
  }
}

// "explore previous events
.applyContainer {
  height: 101.5vh;
  width: 100%;
  background-color: #303C30;
  display: flex;
  align-items: center;
  //justify-content: center;
 // flex-direction: column;
}
.applyWrapperLeft {
//  background-color: rgba(0, 255, 208, 0.161);
  width: 58%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.applyHeroContainer {
  display: flex;
  flex-direction: column;
  padding-left: 3.75rem;
  width: 777.75px;
  padding-bottom: 2.875rem;

}
.applyHeroText {
  color: #FAF3D6;
  text-shadow: 0px 0.5px 12px rgba(250, 243, 214, 0.70);
  font-family: Helvetica Neue;
  font-size: 56.25px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px; /* 67.04px */
  letter-spacing: -1.687px;
  display: inline;

}
.applyHeroContext {
  display: flex;
  padding-top: 24px;
  gap:18.75px;
  padding-left: 2px;
}
.applyHeroContextImage {
  background-color: #d0d0d0;
  width: 70.5px;
  height: 64.5px;
  flex-shrink: 0;
  border-radius: 21px;
}


.applyWrapperRight {
 //background-color: rgba(255, 0, 0, 0.161);
  width: 42%;
  padding-right: 3.25%;
  padding-bottom: 5.25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.applyTodayButton {
  width: 197px;
  height: 71.5px;
  flex-shrink: 0;
  border-radius: 90.75px;
  border: 7.5px solid #FAF0C6;
  background: #FAE691;
  color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 22.5px;
  padding-bottom: 1.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 122%; /* 27.445px */
  letter-spacing: -0.675px;
  text-transform: capitalize;
  filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.25));
}
.explorePrevButton {
  width: 351px;
  height: 71.5px;
  flex-shrink: 0;
  border-radius: 90.75px;
  border: 2.25px solid #F9F9F9;
  color: #FFF;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Helvetica Neue;
  font-size: 22.5px;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 1.5px;
  line-height: 122%; /* 27.445px */
  letter-spacing: -0.5px;
  text-transform: capitalize;
}
.applyVideoContainer {
  width: 33.88vw;
  height: 64.7vh;
  border: 0.75px solid #FAF3D6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #303C30;
  flex-shrink: 0;
  padding-top: 1rem;
  color: #FAF3D6;
  padding-left: 1.125rem;

  font-family: Helvetica Neue;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 122%; /* 45.742px */
  letter-spacing: -1.125px;
  text-transform: uppercase;
}
.propositionTopContainer {
  background-image: linear-gradient(180deg,#7c8874 ,rgb(104, 110, 80) 40%, #303c30);
 // background: linear-gradient(180deg, rgba(158, 186, 158, 0.29) 0%, rgba(248, 199, 25, 0.00) 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
 // align-items: center;
 // justify-content: center;
 z-index: 0;
  //background-color: #6A7055;
}
.propositionMidContainer {
  height: 138.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  //align-items: center;
 // background-color: rgba(255, 0, 0, 0.289);
  //justify-content: center;
  //background-color: rgba(87, 109, 87, 00);
}
.propositionBottomContainer {
  height: 124vh;
  //height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  //background-color: #303C30;
  //background-color: rgba(255, 0, 0, 0.18);
  background-image:linear-gradient(180deg, rgba(149, 185, 149, 0.3), rgba(248, 199, 25, 0.15) 40%, rgba(248, 199, 25, 0.15) 60%, rgba(149, 185, 149, 0.3));
}
.testimonialContainer {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303C30;
}
.pricingContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
